body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
  display: flex;
}
